{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for show in results.data %}
	<li>
		<a href="/artists/{{ show.artist_id}}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>Artist: {{ show.artist_name }}</h5>
			</div> 
		</a>
	</li>
	<li>
		<a href="/venues/{{ show.venue_id}}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>Venue: {{ show.venue_name }}</h5>
			</div> 
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}

